<tr>
    <td> @Product.ProductId</td>
    <td> @Product.ProductName</td>
    <td> @Product.Price</td>
    <td> @Product.Description</td>
    <td> @Product.Category</td>
    <td>
        <button class="btn btn-primary"
                @onclick="OnDetailClicked">
            Show Details
        </button>
    </td>
</tr>

@code {
    [Parameter]
    public Product Product { get; set; }

    // EventCallback for Child to Parent Communication
    [Parameter]
    public EventCallback<int> OnDetail { get; set; }

    public void OnDetailClicked()
    {
        OnDetail.InvokeAsync(Product.ProductId);
    }

}
