@model sample_app.ViewModels.ProductListViewModel
@*<a href="Home/Create"> Add Product</a>*@
@*@Html.ActionLink("Add Product","Create","Home")*@

@ViewBag.EncodedValue

<a asp-action="Create" asp-controller="Home"> Add Product</a>

@*// Product Information : Model : Product*@
@foreach (var p in Model.Products)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                @p.ProductName
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@p.Price.ToString("c")</small>
                </span>

            </h4>
            <a style="float:right" asp-action="Delete" asp-controller="Home"
               asp-route-id="@p.ProductId"> Delete</a>
            <a style="float:right" asp-action="Update" asp-controller="Home"
               asp-route-id="@p.ProductId">
                Update
            </a>
        </div>
        <div class="card-text p-1">@p.Description</div>

        @*@Html.ActionLink("AboutUs", "AboutUs", new { @p})*@

    </div>
}

@* Pagination : Model : PagingInfo *@
<div page-model="@Model.PagingInfo" page-action="Index"> </div>
